{#{% extends 'base.html.twig' %}#}

{#{% block title %}Register{% endblock %}#}

{#{% block body %}#}
{#    <h1>Register</h1>#}

{#    {{ form_start(registrationForm) }}#}
{#        {{ form_row(registrationForm.email) }}#}
{#        {{ form_row(registrationForm.plainPassword, {#}
{#            label: 'Password'#}
{#        }) }}#}
{#        {{ form_row(registrationForm.agreeTerms) }}#}

{#        <button type="submit" class="btn">Register</button>#}
{#    {{ form_end(registrationForm) }}#}
{#{% endblock %}#}
{% block body %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Blessed Gods</title>
    <link href="img/help.png" rel="icon">
</head>
<header id="head">
    <div class="wrapper">
        <div class="title flex-r-c-c">
            <img src="img/help.png">
            <h1>Blessed Gods</h1>
        </div>
        {% block navbar %}
            <nav>
                <ul class="flex-r-c-c">
                    <li><a href="{{ path('user') }}">Главная</a></li>
                    <li><a href="{{ path('app_forum') }}">Форум</a></li>
                    <li><a href="{{ path('app_register') }}">Аккаунт</a></li>
                    <li><a href="{{ path('app_report') }}">Жалоба</a></li>
                </ul>
            </nav>
        {% endblock %}
    </div>
</header>
<main>
    <section id="Hello">
        <div class="start-block wrapper flex-c-c-c">
            <h1>Чтобы начать общение, необходимо авторизоваться</h1>
        </div>
    </section>
    <section id="login">
        <div class="wrapper">
            <form class="login flex-c-c-c" method="post" action="">
                <legend>Войти в аккаунт</legend>
                <input type="text" name="name" class="topic" placeholder="Имя">
                <input type="password" name="pass" class="pass" placeholder="Пароль">
                <button type="submit">Войти в существующий аккаунт</button>
            </form>
        </div>
    </section>
    <section id="new-acc">
        <div class="wrapper">
                <h1>Register</h1>
                {{ form_start(registrationForm )}}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}

        </div>
    </section>
</main>
{% endblock %}

<footer></footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/main.js"></script>
